repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: check-added-large-files
    -   id: check-byte-order-marker
    -   id: check-executables-have-shebangs
    -   id: forbid-new-submodules
    -   id: check-yaml
    -   id: check-json
    -   id: check-symlinks
    -   id: check-xml
    -   id: end-of-file-fixer
        types_or: [c, shell, python]
    -   id: trailing-whitespace
        types_or: [c, shell, python, xml]
    -   id: check-docstring-first
    -   id: check-merge-conflict
    -   id: mixed-line-ending
        args: [--fix=lf]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: ['--config', './contrib/codespell.cfg', --write-changes]
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
-   repo: local
    hooks:
    - id: shellcheck
      name: check shellscript style
      language: system
      entry: shellcheck --severity=error -e SC2068
      types: [shell]
    - id: clang-format
      name: clang-format
      language: script
      entry: ./contrib/reformat-code.py
      types: [c]
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
    - id: markdownlint
      args: ['--fix', '--ignore', '.github']
